<div class="list row">
  <div class="card col-sm-12 mb-4 shadow">
    <div class="card-body">
      <form [formGroup]="cashRegisterForm" (ngSubmit)="saveCashRegister()" class="form-inline">
        <div class="input-group mb-2 mr-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                viewBox="0 0 16 16">
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
              </svg>
            </div>
          </div>
          <input type="text" formControlName="description" class="form-control" placeholder="Descrição">
        </div>

        <div class="input-group mb-2 mr-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2"
                viewBox="0 0 16 16">
                <path
                  d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
              </svg>
            </div>
          </div>
          <input type="text" formControlName="value" mask="separator.2" prefix="R$ " thousandSeparator="."
            decimalSeparator="," class="form-control" placeholder="Valor" />
        </div>

        <select formControlName="entryExit" class="custom-select mr-sm-3">
          <option selected>Selecione entrada ou saída</option>
          <option value="entrada">Entrada</option>
          <option value="saida">Saída</option>
        </select>

        <button type="submit" [disabled]="!cashRegisterForm.valid" class="btn btn-primary bg-info mb-2">Salvar</button>
      </form>
    </div>
  </div>

  <div class="card col-sm-12 mb-4 border shadow-lg">
    <div class="card-body">
      <div class="text-center d-flex justify-content-sm-between mt-4">
        <h5>Balanço total: </h5>
        <p>
          Total de Entradas:
        </p>
        <p>
          Total de Saídas:
      </div>
    </div>
  </div>

  <div class="card col-sm-12 shadow">
    <div class="card-body">
      <div class="col-sm-12 pr-0 pl-0 d-flex text-center">

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cashRegister of (cashRegisterList$ | async)">
              <td>{{ cashRegister.id }}</td>
              <td>
                <ng-container *ngIf="editingId === cashRegister.id; else viewDescription">
                  <input type="text" #inputDescription [value]="cashRegister.description" class="form-control" />
                </ng-container>
                <ng-template #viewDescription>
                  {{ cashRegister.description }}
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="editingId === cashRegister.id; else viewValue">
                  <input #inputValue type="text" [(ngModel)]="cashRegister.value" class="form-control" mask="separator.2" prefix="R$ " thousandSeparator="." decimalSeparator="."/>
                </ng-container>
                <ng-template #viewValue>
                  {{ cashRegister.value | currency:'BRL':'symbol':'1.2-2' }}
                </ng-template>
              </td>
              <td>
                <button class="btn btn-light" (click)="getIdRegisterCash(cashRegister)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                  </svg>
                </button>
                <button class="btn btn-light" (click)="deleteRegister(cashRegister.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                  </svg>
                </button>

                <button *ngIf="editingId === cashRegister.id" (click)="editRegister()" type="submit" class="btn btn-primary">
                  Salvar Edição
                </button>
                
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
  </div>
</div>