<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Entradas e Saídas</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="inputEntradas">Entradas</label>
            <input
              type="text"
              class="form-control"
              id="inputEntradas"
              placeholder="Valor das entradas"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="inputSaidas">Saídas</label>
            <input
              type="text"
              class="form-control"
              id="inputSaidas"
              placeholder="Valor das saídas"
              disabled
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  